:root {
  --color: #050505;
  --body-color: #F7F7F7;
  --background-color: #FCFCFC;
  --color-popup: #FFFFFF;
  --button-bg-color: #E9E9E9;
  --toggle-bg-color: #CCCCCC;
  --info-text-color: grey;
  --border-color: #D2D2D2;
  --warning-color: #f0ad4e;
  --danger-color: #B33A3A;
  --verify-button: #003399;
  --link-color: #6200EE; /*#3700B3;*/
}
.dark {
  --color: #FFFFFF;
  --body-color: #050505;
  --background-color: #121212;
  --color-popup: #252525;
  --button-bg-color: #636363;
  --toggle-bg-color: #7A7A7A;
  --info-text-color: grey;
  --border-color: #9E9E9E;
  --warning-color: #f0ad4e;
  --danger-color: #CF6679; /*#B33A3A*/
  --verify-button: #3700B3;
  --link-color: #BB86FC;
}
* {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}
body {
  color: var(--color) !important;
  background: var(--background-color) !important;
  font-family: "SkattaSans", "Segoe UI", "Arial", "Helvetica Neue", sans-serif !important;
  overflow-y: scroll;
  position: relative;
}
main {
  position: absolute;
  top: 56px;
  width: 100%;
  display: inline-block;
}
div.list {
  float: left;
  padding-top: 15px;
  width: 50%;
}
div.list .date_separator {
  position: relative;
  top: -100px;
  float: left;
  width: 100%;
  border-bottom: 1px solid grey;
}
div.list h1, h2, h3, h4, p {
  margin: 10px 15px;
  opacity: 0.87;
}
.summary_info {
  margin: 5px 15px;
  padding: 8px 10px;
  width: 360px;
  display: inline-block;
  border-bottom: 1px solid var(--button-bg-color);
  color: var(--color);
}
.summary_info .total_expenses {
  float: right;
}
.file_place {
  text-align: center;
  overflow: hidden;
  width: 88%;
  height: 100px;
  margin: auto;
}
.file_place_default {
  text-align: center;
  overflow: hidden;
  width: 88%;
  height: auto;
}
hr {
  margin: 0px 15px;
  background: var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: 9px;
}

.primitive_post {
  margin: 10px;
  padding: 8px 12px;
  border: 1px solid black;
}
.main_content {
  position: absolute;
  background: var(--body-color) !important;
  top: 56px;
  width: 100%;
  display: inline-block;
}
.notification_base {
  position: fixed;
  float: left;
  width: 100%;
  justify-content: center;
  vertical-align: middle;
  z-index: 1;
  bottom: 0;
}
.notification {
  color: var(--color);
  opacity: 1;
  bottom: 0;
  text-align: center;
}
.notification.warning_notification {
  width: 350px;
  height: auto;
  background-color: var(--warning-color);
  border: 1px solid #FFFEF3;
  margin: 35px auto;
  border-radius: 25px;
  padding: 17px 10px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.notification #success_notification {
  background-color: var(--color-popup);
  display: block;
  width: 250px;
  height: 60px;
  border: 1px solid #FFFEF3;
  margin: 35px auto;
  border-radius: 25px;
  padding: 17px 10px;
  color: green;
  box-shadow: 0 1px 4px rgba(255, 255, 255, .1), 0 8px 16px rgba(0, 0, 0, .1);
  justify-content: center;

  -moz-animation: notificationHide 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: notificationHide 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: notificationHide 0s ease-in 3s forwards;
    /* Opera */
    animation: notificationHide 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.notification #error_notification {
  background-color: var(--color-popup);
  display: block;
  width: 250px;
  height: 60px;
  border: 1px solid #FFFEF3;
  margin: 35px auto;
  border-radius: 25px;
  padding: 17px 10px;
  box-shadow: 0 1px 4px rgba(255, 255, 255, .1), 0 8px 16px rgba(0, 0, 0, .1);
  justify-content: center;
  color: red;

  -moz-animation: notificationHide 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: notificationHide 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: notificationHide 0s ease-in 3s forwards;
    /* Opera */
    animation: notificationHide 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#scroll_notification {
  display: none;
  width: 250px;
  height: 60px;
  border: 1px solid #FFFEF3;
  margin: 35px auto;
  border-radius: 25px;
  padding: 17px 10px;
  background-color: var(--color-popup);
  box-shadow: 0 1px 4px rgba(255, 255, 255, .1), 0 8px 16px rgba(0, 0, 0, .1);
  justify-content: center;
}
@keyframes notificationHide {
  0%   {opacity: 1;}
  90%  {opacity: 0.1;}
  100% {opacity: 0; display: none;}
}
@-webkit-keyframes notificationHide {
  0%   {opacity: 1;}
  90%  {opacity: 0.1;}
  100% {opacity: 0; display: none;}
}

.add_purchase {
  position: fixed;
  display: none;
  float: right;
  background-color: var(--background-color);
  width: 25%;
  height: fit-content;
  padding: 18px;
  margin: 15px;
  font-size: 0.9em;
  border-radius: 9px;
  bottom: 0;
  right: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  overflow-y: scroll;
}
.add_purchase .close_add_purchase {
  display: block;
  font-size: .8em;
  float: right;
  border-radius: 4px;
  margin: auto;
  padding: 5px 7px;
}
.open_add_purchase {
  width: 60px;
  height: 60px;
  position: fixed;
  display: block;
  float: right;
  font-size: 1.3em;
  background-color: transparent;
  color: var(--color);
  border-radius: 50%;
  margin: 35px;
  bottom: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
}
.open_add_purchase:hover {
  opacity: 0.8;
}
.transaction {
  padding: 9px 12px;
  margin: 9px 15px;
  width: 550px;
  border-radius: 9px;
  display: inline-block;
  background-color: var(--background-color);
  font-size: 1em;
  box-shadow: 0 1px 4px rgba(255, 255, 255, .1), 0 8px 16px rgba(0, 0, 0, .1);
  z-index: 1;
}
.no_result {
  text-align: center;
  width: 50%;
  height: auto;
  margin: 0 auto;
}

#data_info_array {
  float: left;
  display: inline-block;
  text-align: center;
  z-index: 1;
}
#data_info_array_content {
  text-align: center;
  position: relative;
  bottom: 0;
}
/*POST FUNCTIONS*/
.dropdown {
  position: relative;
  float: right;
  display: block;
  top: 0px;
}
.glyphicon-option-horizontal {
  color: var(--info-text-color);
  font-size: 12px;
  margin: 2px;
  border-radius: 25px;
  padding: 8px;
  right: 0px;
  display: block;
  transition: .2s;
  transition-timing-function: ease-out;
}
.glyphicon-option-horizontal:hover {
  background-color: var(--button-bg-color);
  cursor: pointer;
  opacity: .8;
}
.category {
  position: relative;
  display: inline-block;
  float: left;
  color: var(--info-text-color);
  font-size: 10px;
  margin: 8px 0px;
  width: auto;
}
.dropdown-content {
  background-color: var(--color-popup);
  position: absolute;
  float: right;
  width: 150px;
  border-radius: 9px;
  right: -4px;
  text-align: center;
  margin-top: 8px;
  padding: 15px 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  display: none;
  z-index: 1;
}
.dropdown-content hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.is-active .dropdown-content {
  background-color: var(--color-popup);
  display: block;
}
.is-active ul {
  background-color: var(--background-color);
  display: block;
}
.dropdown-content a {
  margin: 9px 12px;
  list-style-type: none;
  text-decoration: none;
  color: var(--link-color);
  font-size: 0.8em;
}
.dropdown-content .danger {
  color: var(--danger-color);
}
.dropdown_content a:hover {
  opacity: .8;
}
.dropdown-content .close {
  position: absolute;
  float: right;
  right: 0;
  background-color: var(--background-color);
  margin-top: -10px;
  margin-right: 5px;
  padding-bottom: 15px;
  display: inline-block;
}
.dropdown_tail {
  position: absolute;
  top: -10px;
  right: 10px;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid var(--color-popup);
}
.expanded_menu {
  position: relative;
  margin-top: 55px;
  display: block;
  background-color: var(--background-color);
  width: 100%;
  height: 400px;
  z-index: 1;
}
.transaction_upper_header {
  float: left;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}
.transaction_upper_header .name {
  float: left;
  width: 55%;
  margin: 8px 0px 0px 0px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.load-more {
  width: 100%;
  text-align: center;
  color: #CFCFCF;
  padding: 10px 0px;
  font-family: sans-serif;
}
/* @media screen and (min-width: 870px) {
  .transaction {
    max-width: 95%;
  }
} */
@media screen and (max-height: 475px) {
  .add_purchase {
    width: 93%;
    height: 93%;
    margin: 15px;
    overflow-y: scroll;
  }
}
.radio_selection {
  display: block;
  float: left;
  margin-right: 5px;
}
.transaction_top_right_corner {
  padding: 4px 5px;
  float: right;
  position: inherit;
  right: 35px;
}
.btn-edit {
  position: relative;
  float: left;
  border-radius: 9px;
  padding: 8px 5px;
  margin: 5px;
  display: block;
}
.btn-delete {
  position: relative;
  right: 0;
  float: right;
  border-radius: 9px;
  padding: 8px 5px;
  margin: 5px;
  display: block;
}
/* The Close Button */
.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 6px;
}

.close:hover .close:focus {
  opacity: 0.4;
  text-decoration: none;
  cursor: pointer;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.expand_file {
  width: 30px;
  float: right;
  cursor: pointer;
}
/* more link */
.more {
  color: blue;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
}
#up_arrow {
  display: none;
}
#down_arrow {
  display: block;
}


/*NAVIGATION BAR */

.top_nav_menu_button {
  position: fixed;
  height: auto;
  border-radius: 22px;
  border: none;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 6px;
  transition: .2s;
  display: block;
  z-index: 1;
}
.top_nav_menu_button.profile_menu {
  right: 0;
  background-color: var(--background-color);
}
.top_nav_menu_button.search-box {
  float: right;
  width: 41px;
  right: 0;
  color: #fff;
  background-color: var(--button-bg-color);
  display: block;
}
a {
  color: var(--link-color);
  text-decoration: none !important;
}
#search_profile {
 padding: 8px 0px 8px 0px;
 margin: 1px 8px 1px 16px;
 color: var(--color);
 font-size: 17px;
 border: none;
 width: auto;
 background-color: var(--button-bg-color);
 outline: none;
 float: left;
 display: none;
 transition: .2s;
 transition-timing-function: ease-out;
}
#search_profile::placeholder {
  color: var(--color);
}
#closeIcon {
 font-size: 1.3em;
 float: right;
 margin: 12px 15px 12px 0px;
 display: none;
 cursor: pointer;
}
#searchIcon {
 font-size: 1.3em;
 margin: 12px 12px;
 display: block;
 cursor: pointer;
}
/*menu icon animations*/
.burger_menu {
 float: left;
 cursor: pointer;
 margin: 8px 36px 8px 16px;
 padding: 8px;
 display: none !important;
}

.bar1, .bar2, .bar3 {
 width: 32px;
 height: 4.8px;
 border-radius: 5px;
 background-color: #333;
 transition: 0.4s;
}
.bar1, .bar2 {
 margin-bottom: 4.8px;
}
.bar3 {
 margin-top: 4.8px;
}

.change .bar1 {
 -webkit-transform: rotate(-45deg) translate(-9px, 6px);
 transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
 -webkit-transform: rotate(45deg) translate(-6px, -6px);
 transform: rotate(45deg) translate(-6px, -6px);
}
nav #logo {
  float: left;
  height: 56px;
  margin: 0px 0px 0px 16px;
  z-index: 1;
  text-align: left;
}
nav ul {
 margin: 0 26px;
 height: 56px;
 list-style: none;
 display: block;
}
nav ul li {
 float: left;
 margin: 1px 3px 0.5px 3px;
 border-radius: 11px;
 text-align: center;
 text-decoration: none;
 transition: .2s;
 transition-timing-function: ease-out;
}
nav ul li:hover {
 //background-color: var(--button-bg-color); /*#F8F8F8; #202945*/
}
nav ul li a {
 color: #337ab7;
 font-size: 11px;
 overflow-y: auto;
}
nav ul li a p {
 margin: 0px;
 padding-bottom: 4px;
}
nav ul li a i::before {
 display: block;
 margin: 0;
 padding: 7px 36px;
 font-size: 21px;
}
/* Add a color to the active/current link */
nav ul li a.active {
 color: #032554;
}
/*EXPANDED MENU FOR SMALL SCREENS*/
.navigation-menu.responsive li a {
 float: none;
 display: block;
 text-align: left;
}
.navigation-menu.responsive {
 width: 100%;
 height: 400px;
 position: absolute;
 margin-top: 56px;
 text-align: center;
 display: block;
 z-index: 1;
}
nav {
 position: fixed;
 width: 100%;
 height: 56px;
 margin: 0;
 box-shadow: 0 1px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
 background-color: var(--background-color); /*#4f6ff7; #4FC3F7;*/
 overflow: hidden;
 display: inline-block;
 z-index: 1;
}
nav h2 {
 float: left;
 margin: 8px 0px 8px 16px;
 z-index: 1;
 text-align: left;
}
/*USAGE*/
.transaction.monthly, .transaction.year {
  display: block;

}
.transaction.stats {
  float: left;
  clear: none;
}
.transaction.stats h4 {
  color: var(--link-color);
}
/* SETTINGS */
li {
  list-style: none;
}

.left_settings_menu {
  margin: 55px 15px;
  display: block;
  position: absolute;
  float: left;
}
.left_settings_menu ul li {
  list-style: none;
  transition: .2s;
  transition-timing-function: ease-in;
}
.left_settings_menu {
  position: relative;
  display: block;
  float: left;
  width: 250px;
  height: 80vh;
}
.left_settings_menu ul {
  position: fixed;
  width: 250px;
  height: 100%;
  margin: 10px 15px;
  border-right: 1px solid var(--button-bg-color);
}
.left_settings_menu ul li {
  margin: 3.8px;
  padding: 2px 5px;
  width: 192.4px;
  font-size: 18px;
  border-radius: 11px;
  text-align: left;
  text-decoration: none;
  transition: .2;
  transition-timing-function: ease-out;
}
.left_settings_menu ul li:hover {
  background-color: var(--button-bg-color);
  color: var(--color);
}
.left_settings_menu ul li a {
  text-align: left;
  color: var(--color);
  font-size: 14px;
  overflow-y: hidden;
  padding: 8px auto 8px 5px;
}
 .left_settings_menu ul li a i::before {
  padding-right: 5px;
  padding-left: 19px;
}
.left_settings_menu ul li a p {
  position: absolute;
  right: 0;
}
.left_settings_menu ul.active {
  display: block;
  transition: .4s;
}
.left_settings_menu ul li a.active {
  color: #abaaac;
}
.main {
  float: left;
  width: auto;
  margin: 55px 15px;
  display: inline-block;
  position: relative;
}
.main_usage hr {
  width: 500px;
}

@media screen and (max-width: 870px) {
  .main {
    display: block;
    width: 35%;
  }
  .main_usage {
    width: auto;
  }
  .main_usage hr {
    width: auto;
  }
  .transaction.monthly, .transaction.year {
    height: 95px;
  }
  .form-group {
    width: auto;
    display: block;
    margin: 10px 15px;
  }
  #closeIcon {
    font-size: 1.3em;
    float: right;
  }
  .top_nav_menu_button.search-box {
    display: block;
    //will-change: transform;
  }
  nav h2 {
    margin: 8px 0px;
    float: left;
    text-align: center;
    display: block;
  }
  .burger_menu  {
    display: block !important;
  }
  nav ul {
    position: fixed;
    display: none;
    width: 200px;
    height: auto;
    margin: 4px 2px;
    top: 56px;
    background-color: var(--background-color);
    border-radius: 11px;
    text-align: center;
    z-index: 10;
    box-shadow: 0 1px 4px rgba(255, 255, 255, .1), 0 8px 16px rgba(0, 0, 0, .1);
    transition: .4s;
    transition-timing-function: ease-in;
  }
  nav ul li {
    margin: 3.8px;
    padding: 0px;
    width: 192.4px;
    font-size: 18px;
    text-align: left;
    text-decoration: none;
    transition: .2;
    transition-timing-function: ease-out;
  }
  nav ul li:hover {
    background-color: var(--button-bg-color);
    color: var(--color);
  }
  nav ul li a {
    text-align: left;
    display: inline-flex;
    color: var(--color);
    font-size: 14px;
    overflow-y: hidden;
  }
   nav ul li a i::before {
    padding-right: 5px;
    padding-left: 15px;
  }
  nav ul li a p {
    position: relative;
    padding: 8px 96px 8px 5px;
  }
  nav ul.active {
    display: block;
    transition: .4s;
  }
  nav ul li a.active {
    color: #abaaac;
  }
  #data_info_array {
    width: auto;
    margin: 10px 16px;
  }
  div.list {
    margin: 9px 15px;
    width: auto;
  }
  .add_purchase {
    position: fixed;
    float: left;
    width: 93%;
    height: auto;
    top: 10%;
    bottom: inherit;
    margin: 15px;
    padding: 10px;
    display: none;
    z-index: 1;
  }
  .transaction_upper_header {
    float: left;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }
  .transaction_upper_header .name {
    float: left;
    margin: 5px 10px 0px 0px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .no_result {
    width: 100%;
  }
  .transaction {
    display: inline-block;
    margin: 9px 8px;
    width: 95%;
  }
  .dropdown-content {
    text-align: center;
    position: absolute;
    float: left;
    width: 25vh;
    right: -4px;
    background-color: white;
  }
  .dropdown-content .close {
    display: inline-block;
  }
  .left_settings_menu ul {
    height: auto;
    border-right: 0;
    border-bottom: 1px solid var(--button-bg-color);
  }
}

.form-group {
  display: block;
  width: 50%;
  padding: 10px 0px;
  text-align: left;
  margin: 10px 15px;
}
.form-group #show_settings {
  margin-bottom: 35px;
}
.form-control {
  display: inline-block;
}
.form-control #show_settings {
  margin: 15px 0px;
}
.form-group[type=label] {
  text-align: left;

}
.form-control-button {
  position: relative;
  width: 100px;
  font-size: 12px;
  padding: 6px 8px;
  text-align: center;
  border-radius: 4px;
  transition: .1s;
}
.form-control-button[type=submit] {
  font-weight: 700;
  color: white;
}
.form-control-button[type=reset] {
  background-color: transparent;
  margin-left: 15px;
  border: solid 2px var(--border-color);
  color: var(--border-color);
  font-weight: 700;
  letter-spacing: 0.5px;
}
.form-control-button.edit_form_btn {
  background-color: var(--verify-button); /*#4FC3F7;*/
  border: solid 2px var(--verify-button);
}
.form-control-button.delete_btn {
  color: #fff;
  border: 2px solid var(--danger-color);
  background-color: var(--danger-color);
}
.edit_btn {
  padding: 0 9px;
  border: solid 1px grey;
  color: grey;
  background-color: transparent;
  border-radius: 4px;
}
.form-control-button:hover {
  //box-shadow: 0 1px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  opacity: .9;
}
.hr {
  background-color: #D2D2D2;
  border: solid .5px #D2D2D2;
  width: 340px;
  margin: 0px 10px 0px 10px;
  border-radius: 5px;
}
.show_settings {
  visibility: hidden;
}
.change_password {
  display: none;
}
.main h2  {
  margin: 25px 5px 15px 5px;
}
label {
  width: 70px;
}
#password_form {
  display: none;
}

/*NOTIFICATIONS CHECK BOX*/
.switch {
   position: relative;
   display: inline-block;
   width: 40px;
   height: 22px;
 }

 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }

 .slider {
   position: absolute;
   cursor: pointer;
   top: -4px;
   left: -6px;
   right: 0;
   bottom: -1px;
   background-color: var(--toggle-bg-color);
   -webkit-transition: .4s;
   transition: .4s;
 }

 .slider:before {
   position: absolute;
   content: "";
   height: 20px;
   width: 20px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }

 input:checked + .slider {
   background-color: var(--verify-button);
 }

 input:focus + .slider {
   box-shadow: 0 0 1px #2196F3;
 }

 input:checked + .slider:before {
   -webkit-transform: translateX(18px);
   -ms-transform: translateX(18px);
   transform: translateX(18px);
 }
/* Rounded sliders */
 .slider.round {
   border-radius: 18px;
 }

 .slider.round:before {
   border-radius: 50%;
 }
